<div style="margin: 0 1% 0 1%">
	<h2>Where should I post?</h2>
	<p>
		If you haven't been living under a rock for the past 20 years you may have noticed the intense change the music industry has gone through/is undergoing. Since the intruduction of digital music distribution, digital audio &amp; digital audio production.
		<br>
		With artists producing platinum selling records right out of the comfort of their bedrooms and music distribution relieving itself of it's physical form, terms such as 'recording studio' and 'producer' have lost their original definition and the lines between one profession the other are blurrier than ever.
		<br>
		In this page i'll try to reduce your confusion by defining the different categories of this platform, so that your posts will be viewed by your target audience.
	</p>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="max-height: 26vw; overflow: hidden;">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading1" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
	          Rehearsal room
	        </a>
	      </h4>
	    </div>
	    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
	      <div class="panel-body">	
	      	wanted:<br>
	      	- Are you or your band looking for a rehearsal room?
	      	<br>
	      	<br>
	      	seeking:<br>
	      	- Do you own a rehearsal room and want to rent it to bands? are you looking for another band to share you rehearsal room?
	      </div>
	    </div>
    </div>

	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading2" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
	          Producer
	        </a>
	      </h4>
	    </div>
	    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
	      <div class="panel-body">
			Many people mistake a producer to a recording engineer, a mixing engineer and sometimes even a fairy so let's set one thing straight:<br>
			A producer does not have to push a single button in order to produce a record. The producers job is to produce a certain product (LP, EP, demo, live recording etc'...) under the given circumstances (budget, time-frame, production needs, style etc'...).
	        <br>
	        <br>	
					wanted:<br>
					- Are you interested in recording an album/EP/live show or any commertially distibuted product and don't know how to proceed? than I highly recommend hiring, or at least consulting a producer. Having an objective set of ears and the expertise of someone who already has a few records under his/her belt is very benefitial for the final product, and if that isn't enough it can also significantly reduce the costs of the production.
	      	<br>
	      	<br>
					seeking:<br>
					- Are you a producer? have you just gradueted from audio engineering school and looking to establish your reputation?
					are you looking for fresh talent that will top the charts if given a bit of guidance? than this is the place for you.
					<br>
					&ast;Posting tip: highlighting your strenghts and the genres you specialize in will go a long way on this one.
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading3" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
	          Studio
	        </a>
	      </h4>
	    </div>
	    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
	      <div class="panel-body">	
	        wanted:<br>
	        - Looking for a studio to record an album/EP/demo at?
	        <br>
	        <br>
					seeking:<br>
					- Are you a studio owner?<br>
					- Do you own a pair of microphones and an audio interface?
					- Is your matress used as a bass trap on a regular basis?
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading4" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
	          Mixing engineer
	        </a>
	      </h4>
	    </div>
	    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
	      <div class="panel-body">
					wanted:<br>
					- Are you wrapping up the recording process and looking for a someone to handle the mixing?
	      	<br>
	      	<br>
					seeking:<br>
					- Are you offering audio mixing services and looking for clients?
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading5" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
	          Mastering engineer
	        </a>
	      </h4>
	    </div>
	    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
	      <div class="panel-body">
					wanted:<br>
					- Are you wrapping up the record and missing the final touch before it's sent out to distribution?
	      	<br>
	      	<br>
			    seeking:<br>
			    - Are you a mastering engineer looking for more work?
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading6" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
	          Graphics
	        </a>
	      </h4>
	    </div>
	    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
	      <div class="panel-body">
					wanted:<br>
					- Need cover art for your band? a new logo? flyers or posters for you next show?
	      	<br>
	      	<br>
					seeking:<br>
					- Are you a graphic artist looking for bands to work with?
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading7" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
	          Distribution
	        </a>
	      </h4>
	    </div>
	    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
	      <div class="panel-body">
					wanted:<br>
					- Do you have a finished product at hand and looking for someone to distribute it?
	      	<br>
	      	<br>
					seeking:<br>
					- Are you a record label?<br>
					- Do you have a music distibution company?
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading8" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
	          Video
	        </a>
	      </h4>
	    </div>
	    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
	      <div class="panel-body">
					wanted:<br>
					- Need a music video done for you band?<br>
					- Maybe a crowdfunding video to finance your next record?<br>
					- Promotional pictures go here as well.
	      	<br>
	      	<br>
					seeking:<br>
					- Are you a video producer, photographer or anything related to the video production industry?
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading9" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
	          Shows
	        </a>
	      </h4>
	    </div>
	    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
	      <div class="panel-body">
					wanted:<br>
					- All set and ready to hit the stage?<br>
					- Need an opening act for you next gig?<br>
					- Need a co-headliner to tour with?
	      	<br>
	      	<br>
					seeking:<br>
					- Looking for bands to play in your next event?<br>
					- Need a band to play in your wedding or your sons 'Bar-mitzva'?
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading10" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
	          Transportation
	        </a>
	      </h4>
	    </div>
	    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
	      <div class="panel-body">
					wanted:<br>
					- Need someone to drive you to/from a gig?<br>
					- Need a van to go on tour with?
	      	<br>
	      	<br>
					seeking:<br>
					- Are you offering transportation services?<br>
					- Do you own a big car and want to make a few extra bucks?
	      </div>
	    </div>
    </div>
</div>