<div style="margin: 0 20% 0 2%">
	<h2>Site rules</h2>
	<p>
		- Registration usage of the site are 100% free.<br>
		- Each post will remain public for 30 days, afterwhich it will be deleted.<br>
		- Each user is allowed to send up to 5 emails a day to avoid spam.<br>
		- Posts which were posted intentionally or unintentionally in an unappropriate section of the board will be deleted.<br>
		- The responasability for a posts content and links, as well as any uploaded data lies solely on it's author.<br>
		- Uploading copyrighted data (music, photos etc') is a violation of the law and is subjugated to prosecution.<br>
		- Uploading GEMA copyrighted data is strictly prohibited.<br>
		- Our <%= link_to 'terms & conditions', terms_path %> apply to any use of this site.
	</p>
</div>