<div class="form_main">
  <%= simple_form_for ([@post, @reply]) do |f| %>
    <% unless user_signed_in? %>
      <%= f.input :email %>
      <% end %>
    <%= f.input :message, :input_html => {:rows => 18, :value =>
"Originally posted by #{@post.user.username}:
\"#{@post.description}\"."} %>
    <%= f.button :submit, class: "btn-info" %>
  <% end %>
</div>