	<div class="footer panel panel-default">
	  <div class="panel-body">
	    	<span>&copy; all rights reserved to BerlinBand.com 2015</span>
		    <div style="float:right">
		       	<span><%= link_to 'help', help_path %></span>
		     	<span><%= link_to 'rules', rules_path %></span>
		     	<span><%= link_to 'terms of service', terms_path %></span>
		     	<span><%= link_to 'contact', contact_path %></span>
	     	</div>
	  </div>
	</div>
</div>