<% @categories = Category.all %>
<div class="row">
	<ul class="btn-group-vertical col-md-2" role="group" style="border-right: 1px solid; padding: 0">
		<% @categories.each do |f| %>
			<li type="button" class="btn btn-default"><%= link_to f.name, category_path(f.id) %>
				<ul type="button" class="button-group button-group-sm" style="padding: 0">
					<li type="button" class="btn" style="padding-top: 0" ><%= link_to 'wanted', category_wanted_path(f.id) %></li>
					<li type="button" class="btn" style="padding-top: 0" ><%= link_to 'seeking', category_seeking_path(f.id) %></li>
				</ul>
			</li>
		<% end %>
	</ul>