<%= render 'navbar' %>

<%= render 'sidebar' %>

<div style="margin-left: 18%">
	<h1>Welcome to BerlinBand</h1>
	<p>Here you can find anything your band needs including audio production services, rehearsal spaces and more!</p>
	<p>Feel free to browse through the listings or make the community aware of your needs by creating a new post.</p>
	<p>All posts are automatically deleted after 30 days to ensure fresh and releveant content.</p>
	<p>Every user is allowed to send a max amount of 3 emails per day, to avoid spam.</p>
</div>

<%= render 'home/footer' %>