<div style="margin: 0 20% 0 2%">
	<h2>Welcome to BerlinBand</h2>
	<p>Here you can find anything your band needs including audio production services, rehearsal spaces and more!
	   Feel free to browse through the listings or make the community aware of your needs by creating a new post.
	   All posts are automatically deleted after 30 days to ensure fresh and releveant content.
	   Every user is allowed to send a max amount of 3 emails per day, to avoid spam.</p>
</div>