body {
	background-color: #e7e7e7;
}

#navbar {
	margin: 0;
	background-color: #0C4850;
	border: none;
	min-height: 4vw;
}
.navbar-brand {
	padding-left: 51px;
	min-width: 17vw;
}
#navbar a {
	color: #fff;
}
#navbar button {
	background-color: #1F6B22;
	margin-top: 9px;
	border: none;
	border-radius: 4px;
	padding: 0;
}
#navbar .btn:hover {
	background-color: #3F8B42;
}
#navbar .highlight {
	background-color: #2F8B32;	
}

#navbar .dropdown li a {
	color: black;
}
#navbar .dropdown span {
	color: #fff;
}

.language {
	float: right;
	margin-left: 1vw;
}
.language button {
	padding: 3px;
}
.language img {
	height: 26px;
	border-radius: 50%;
	margin: 4px;
}

#sidebar {
	padding: 0;
	margin-bottom: 0;

}
#sidebar .category {
	height: 4vw;
	background-color: #1F6B22;
	border-bottom: solid white 1px;
}
#sidebar .category a {
	color: #fff;
	font-size: 16px;
	padding-bottom: 0;
	padding-top: 2px;
}
#sidebar .category:hover {
	background-color: #3F8B42;
}
#sidebar .subcategories a:hover {
	background-color: #e7e7e7;
}
#sidebar .subcategories a {
	color: #000;
	font-size: 13px;
	border: none;
}
#sidebar .subcategories button {
	background-color: #fff;
	border: none;
	height: 20px;
	border-radius:  4px;
	padding: 0;
}
#sidebar .subcategories a {
	padding: 0 5px;
	height: 100%;
	border: none;
}
#sidebar .subcategories .seeking {
	margin-left: 35px
}
.hidden-sub{ 
	display: none;
}
.category:hover a{ 
	display: inline-block;
}
.category:hover .subcategories a {
	background-color: #fff;
}

.content-container {
	padding-left: 0;
	background-color: #e7e7e7;
}
.main_content h2 {
	margin-top: 0;
}
.main_content {
	margin: 1% 22% 0 1%;
}

.table .panel-heading {
	background-color: #d7d7d7;
	border-bottom: solid 2px #fff;
}
.table .panel-row {
	border-bottom: solid 2px #fff;
}

.form_main {
	margin: 1% 1% 0 1%;
}

.overflow {
	max-height: 26vw;
	overflow: auto;
}

.contact-message {
	height: 500px;
}

.footer {
	background-color: #e7e7e7;
	margin-bottom: 0;
}
.title {
	font-weight: bold;
	font-size: 18px;
}