body {
	background-color: #e7e7e7;
}

#navbar {
	margin: 0;
	background-color: #0F4B52;
	border: none;
	min-height: 4vw;
}
.navbar-brand {
	padding-left: 25%;
	min-width: 16vw;
}
#navbar a {
	color: #fff;
}
#navbar .login-button .btn {
	background-color: #0F5B72;
}
#navbar .dropdown li a {
	color: black;
}

.language {
	border-radius: 50%;	
}

#sidebar {
	padding: 0;
	margin-bottom: 0;
}
#sidebar .category {
	height: 4vw;
	background-color: #0F5B72;
	padding-top: 1px;
}
#sidebar .category a {
	color: #fff;
	font-size: 16px;
}
#sidebar .subcategories a {
	color: #0F5B72;
	font-size: 13px;
}
#sidebar .subcategories {
	padding: 0;
}
#sidebar .subcategories li {
	padding: 0 12px;
}
.hidden-sub{ 
	display: none;
}
.category:hover a{ 
	display: inline-block;
}
.category:hover li {
	background-color: #fff;
}

.content-container {
	padding-left: 0;
	background-color: #e7e7e7;
}
.main_content {
	margin: 0 20% 0 2%;
}



.table .panel-heading {
	background-color: #d7d7d7;
	border-bottom: solid 2px #fff;
}
.table .panel-row {
	border-bottom: solid 2px #fff;
}

.form_main {
	margin: 1% 1% 0 1%;
}

.overflow {
	max-height: 26vw;
	overflow: auto;
}

.login-button {
	margin-top: 10px;
}
.login-button {
	background-color: #0F5B72;
	color: #fff;
}

.contact-message {
	height: 500px;
}

.footer {
	background-color: #e7e7e7;
	margin-bottom: 0;
}